@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@import "tailwindcss";
@import "tailwindcss/utilities";

:root {
  --background: #ffffff;
  --foreground: #181818;
  --card: #171717;
  --card-hover: #262626;
  --primary: #1e1e1e;
  --primary-hover: #2a2a2a;
  --primary-text-faded: #757575;
  --primary-text-hover: #f5f5f5;
  --border: #1e1e1e;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --card: #171717;
  --card-hover: #262626;
  --primary: #181818;
  --primary-hover: #2a2a2a;
  --primary-text-faded: #757575;
  --primary-text-hover: #757575;
  --border: #2a2a2a;
}

.light {
  --background: #ededed;
  --foreground: #171717;
  --card: #f5f5f5;
  --card-hover: #ededed;
  --primary: #ededed;
  --primary-hover: #d6d6d6;
  --primary-text-faded: #757575;
  --primary-text-hover: #757575;
  --border: #d6d6d6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Kumbh Sans", sans-serif;
  --font-mono: "Kumbh Sans", sans-serif;
  --color-card: var(--card);
  --color-card-hover: var(--card-hover);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-text-hover: var(--primary-text-hover);
  --color-primary-text-faded: var(--primary-text-faded);
  --color-border: var(--border);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Kumbh Sans", sans-serif;
  font-weight: 500;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.toaster[data-theme='custom'] {
  --toast-bg: var(--background);
  --toast-text: var(--foreground);
  --toast-border: var(--border);
}
.toaster[data-theme='custom'] .sonner-toast {
  background: var(--toast-bg) !important;
  color: var(--toast-text) !important;
  border: 1px solid var(--toast-border) !important;
}